
span.subDropdown.minus:before {
    content: '\e8c8';
    position: absolute;
    color: #636363;
    top: 2px;
    left: 0;
    font-family: "klbtheme";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-left: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-right: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

span.subDropdown.plus:before {
    content: '\e8c5';
    position: absolute;
    color: #636363;
    top: 2px;
    left: 0;
    font-family: "klbtheme";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-left: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-right: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.widget .site-checkbox-lists li {
    margin-left: 15px;
    cursor: pointer;
}

.widget.widget_custom_product_categories ul.children {
    display: none;
}

.widget.widget_custom_product_categories li {
    align-items: center !important; /* adjustments for long labels: keep the +/- icon in the middle */
    margin-top: 0.625rem; /* move the margin attribute from the link to the item itself */
}
.widget.widget_custom_product_categories li a {
    margin-bottom: 0 !important; /* move the margin attribute from the link to the item itself */
}


/* adjustments for long labels: keep the +/- icon in the middle */
span.subDropdown.minus:before, span.subDropdown.plus:before {
/* TODO: instead of override, set it directly at the top of this page */
    position: relative !important;
    top: 0 !important;
}

.widget.widget_custom_product_categories li a label {
    flex-wrap: nowrap; /* keep checkbox and text together */
}

.widget.widget_custom_product_categories li.cat-parent { /* applies only for parent-category items */
    justify-content: space-between; /* keep the +/- icon as left as possible */
}