/* header */
.site-header {
	position: fixed; /* always floating on top when scrolling */
	height: 56px;
	width: 100%;
	top: 0;
}
/* set the same height through all elements */
.site-header .header-main,
.site-header .header-main .container,
.site-header .header-main .container .column-left,
.site-header .header-main .container .column-left .header-buttons,
.site-header .header-main .container .column-right,
.site-header .header-main .container .column-right .header-buttons,
.site-header .header-main .container .column-center, 
.site-header .header-main .container .column-center .mvx-profile-area,
.site-header .header-main .container .column-center .mvx-profile-area a,
.site-header .header-main .container .column-center .mvx-profile-area a img {
	height: inherit !important;
}

/* more adjustments to header's elements */
.site-header .header-main .container {
	display: grid;
}
.site-header .header-main .container .column-left, /* burger menu icon container */
.site-header .header-main .container .column-center, /* search bar container */
.site-header .header-main .container .column-right { /* mini-cart icon container */
	position: relative;
	width: fit-content;
    justify-content: center;
}
.site-header .header-main .container .column-left { /* burger menu icon + account icon container */
	max-width: 20%;
	justify-self: start;
}
.site-header .header-main .container .column-center { /* search bar container */
	width: -webkit-fill-available !important;
    max-width: 68%;
	padding: 0 !important;
	top: -56px !important;
	left: 25px;
	justify-self: center;
}
.site-header .header-main .container .column-right { /* mini-cart icon container */
	/* max-width: 12%; */
	justify-self: end;
	margin: 0 !important;
	top: -112px !important;
}
.site-header .header-main .container .column-left .button-item { /* both burger menu and account icons */
	margin: 0 !important;
}
.site-header .header-main .container .column-left .button-item a { /* both burger menu and account icons */
    font-size: 1.25rem;
    width: 2.375rem;
    height: 2.375rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.site-header .header-main .container .column-left .header-canvas { /* burger menu icon */
	margin-left: 10px !important;
}

/* fix for mobile view */
@media only screen and (max-width: 768px) {
	.site-header .header-main .container .column-center { /* search bar container */
		top: -112px !important;
	}
	.site-header .header-main .container .column-right { /* mini-cart icon container */
		top: -56px !important;
	}
}

/* store logo on header */
.site-header .header-main .container .column-center .mvx-profile-area {
	height: 54px !important;
}
.site-header .header-main .container .column-center .mvx-profile-area a {
	display: flex;
}
.site-header .header-main .container .column-center .mvx-profile-area a img {
	display: block;
	border: unset;
}
/* adjustment for PROD (required because of wp-rocket "images-lazy-load") */
.site-header .header-main .container .column-center .mvx-profile-area a picture {
	height: inherit !important;
}
.site-header .header-main .container .column-center .mvx-profile-area a img {
	width: unset;
}

/* center the store logo on header (different screen sizes) */
@media only screen and (max-width: 768px) {
	.site-header .header-main .container .column-center .mvx-profile-area {
		margin-left: 0;
	}
}
@media only screen and (min-width: 769px) and (max-width: 921px) {
	.site-header .header-main .container .column-center .mvx-profile-area {
		margin-left: 2%;
	}
}
@media only screen and (min-width: 922px) and (max-width: 1199px) {
	.site-header .header-main .container .column-center .mvx-profile-area {
		margin-left: 5%;
	}
}
@media only screen and (min-width: 1200px) {
	.site-header .header-main .container .column-center .mvx-profile-area {
		margin-left: 8%;
	}
}

/* main menu navigation (only on desktop view with full screen) */
.site-header .header-top {
	display: none;
	/* font-family: "FontsFree-Bold", sans-serif !important; */
}

/* main search bar - desktop view */
.site-header .header-main {
	border-bottom: 1px solid #e3e4e6;
	padding: 0 !important;
}
.site-header #dgwt-wcas-search-input-1 { /* input */
	height: 2.5rem;
}
.dgwt-wcas-sf-wrapp:after { /* reposition of magnifying-glass icon */
	right: 88%;
}
.dgwt-wcas-preloader.dgwt-wcas-close { /* reposition of close icon */
	margin-left: 8% !important;
}
/* search results */
.dgwt-wcas-suggestions-wrapp {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	z-index: 999 !important; /* do not cover the accessibillity list */
}

/* main search bar - mobile view + mini-ipad view */
@media only screen and (max-width: 768px) {
	.site-header.mobile-nav-enable .header-search.active {
		top: 56px; /* size of header */
		bottom: 56px;
		width: 100%;
		height: auto;
	}
}

/* main search bar - mobile view only */
@media only screen and (max-width: 767px) {
	.dgwt-wcas-sf-wrapp:after { /* reposition of magnifying-glass icon */
		right: 85%;
	}
	/* search results */
	.dgwt-wcas-suggestions-wrapp {
		max-height: unset !important;
		bottom: 3.5rem; /* do not cover the footer */
	}
}

/* set site content right after the header */
#main.site-primary {
	margin-top: 8vh;
}

/* minimize accessibility-icon for mobile view */
@media only screen and (max-width: 767px) {
	.pojo-a11y-toolbar-toggle a {
		display: table-row-group !important;
	}
}

/* make sure breadcrumb items always displayed horizontally */
.woocommerce-breadcrumb ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}
/* fix breadcrumb separator */
.woocommerce-breadcrumb ul li::before {
    font-size: 1.25rem !important;
    content: '\e8d2' !important; /* flip arrow */
}
.woocommerce-breadcrumb ul li:first-child::before {
	content: unset !important; /* remove first separator */
}

/* hide categories menu from main-search-bar and main-sidebar */
.canvas-main .all-categories, .header-search .all-categories {
	display: none !important;
}

/* hide header navigation menu (duplicated) */
.header-nav.header-wrapper.hide-mobile {
    display: none;
}

/* hide footer widgets */
.site-footer .footer-widgets {
    display: none;
}

/* arrow icons (store-info, single product's description and policies) */
.arrow-toggle #arrow , .description-arrow-toggle #arrow, .policy-arrow-toggle #arrow {
	display: inline-block;
	align-self: center;
    font-size: 1.25rem;
    margin-right: 5px;
}
.policy-arrow-toggle { /* the other wrappers are already "flex" */
	display: flex; /* so "align-self" the arrow will be effective */
}


/* make sure the footer doesn't cover any content */
@media only screen and (max-width: 767px) {
	.site-footer .border-enable .container .footer-menu {
		margin-bottom: 3rem;
		display: flex;
		justify-content: end;
	}
	.site-footer .border-enable .container { /* keep copyright title always on the right */
		justify-content: start;
	}
}

