/* entire page content */
.vendor-store .content-primary {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

/* filters menu */
.site-sidebar {
    position: fixed;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
	width: 380px;
	max-width: 380px;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 0;
    padding: 1.25rem;
    background-color: var(--color-background);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 10001;
	/* initial values (changed dynamically via JS) */
	opacity:0;
	visibility: hidden;
}
.site-sidebar .sidebar-mobile-header { /* make the header floating on top */
	position: fixed;
	padding: 20px;
    z-index: 99;
	width: 90%;
	top: 0;
	background: white;
	font-size: 15px; /* inner buttons */
	justify-items: flex-start;
}
.site-sidebar .widget_product_search { /* create space for the sticky header */
	margin-top: 80px;
}
.site-sidebar .widget { /* adjust the rest of the content */
	position: relative;
}
.site-sidebar .widget + .widget { /* add separator lines between different filters */
	border-top: 1px solid var(--color-border);
	padding-top: 1.75rem;
}
/* make the text bigger for: */
.site-sidebar .widget_custom_product_categories label, /* categories' labels */
.site-sidebar .widget_price_filter .price_label, /* price range */
.site-sidebar .widget_price_filter .button, /* price submit button */
.site-sidebar .widget_layered_nav a { /* labels of all other attributes */
	font-size: 15px;
}
.ps__rail-y { /* fix scroll bar */
	left: 0px !important;
}
#masthead { /* place the header and footer behind the overlay */
    z-index: 999 !important; 
}
/* close icon */
.sidebar-mobile-header .close-sidebar {
	cursor: pointer;
}
/* hide default burger menu (being replaced with this custom filters-menu) */
body > .site-canvas {
    display: none;
}

/* set full height through all menu elements */
.site-sidebar .sidebar-inner,
.site-sidebar .sidebar-inner .widget,
.site-sidebar .sidebar-inner .widget .widget-body,
.site-sidebar .sidebar-inner .widget .widget-body .site-scroll {
	height: fit-content;
	max-height: 100%;
}

/* search filters */
.site-sidebar .widget_product_search button { /* hide submit-search button */
	display: none;
}
.site-sidebar .widget_price_filter .price_label { /* change direction of price range */
	display: inline-flex;
    flex-direction: row-reverse;
}
.site-sidebar .widget_price_filter .price_label span { /* adjust margin */
	margin: 0 4px;
}

/* minimize margin above storefront image */
.woocommerce-breadcrumb + .content-wrapper {
    margin-top: 0 !important;
}

/* storefront image */
.banner-img-cls {
	height: unset !important;
}
.banner-img-cls .mvx-imgcls {
	object-fit: contain;
	width:auto;
	height:auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	.banner-img-cls {
		max-height: 320px !important;
		height: auto;
	}
}

/* turn the store logo into a circle */
.mvx-banner-below .mvx-profile-area img {
    border-radius: 50%;
}
/* fix responsiveness of store logo */
.vendor-store .mvx-banner-below .mvx-profile-area img {
	max-width: unset !important;
}

/* align store title on mobile view */
@media screen and (min-width: 320px) and (max-width: 768px) {
    .mvx-theme01 .mvx-banner-below {
		padding: 0 !important;
	}
	.mvx-theme01 .mvx-banner-below .mvx-heading {
		margin: 0 !important;
	}
	.mvx-theme01 .mvx-banner-below .mvx-profile-area {
		padding: 0 20px !important;
	}
}

/* hide vendor rating (unused) */
.mvx-theme01 .mvx-banner-below .mvx_vendor_rating {
	display: none;
}

/* store info */
.mvx-banner-wrap .description_data, .mvx-banner-wrap .description_data p {
    text-align: right !important;
}
.mvx-contact-deatil { /* margin above description */
	margin-bottom: 20px;
}
.mvx-contact-deatil .mvx-address:first-child { /* first item */
	margin-right: 0px !important;
}
.mvx-theme01 .mvx-address { /* single item */
	display: flex;
	margin: 2px 0 2px 0 !important;
}
.mvx-contact-deatil .mvx-address span, .mvx-contact-deatil .mvx-address a { /* single item text */
	padding-right: 0 !important;
}
.mvx-theme01 p.mvx-address i, .mvx-theme03 p.mvx-address i { /* single item icon */
	display: inline-block;
	margin: 0 0 0 7px !important;
	background: var(--color-secondary) !important; /* associate with Theme color palette */
}
#toggle-header #store-info-icon { /* store info icon */
	font-size: 1.25rem;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    text-align: center;
    border-radius: 50%;
	background: var(--color-secondary) !important; /* associate with Theme color palette */
    margin: 0 0 0 7px !important;
}
#toggle-header { /* also applies for product, cart and checkout pages */
	display: flex;
	align-items: center;
	margin-top: 1rem;
	font-size: 1rem;
	font-family: var(--font-primary);
}

/* fix overlapping on mobile view */
.mvx-banner-wrap #toggle-header {
	position: relative;
}

/* "order-by" and "products-per-page" arrows */
.before-shop-loop .product-filter .select2 .select2-selection .select2-selection__arrow:after {
    font-size: 1.25rem;
}

/* keep showing add-to-cart button for products that are already in cart */
.cart-with-quantity.product-in-cart a.button {
    display: -webkit-box !important;
}

/* override the default color of add-to-cart button (associated with Theme color palette) */
.product-type-2 a.button.button-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.product-type-2 a.button.button-primary:hover {
    background-color: var(--color-primary);
}

/* hide simple whatsapp button */
#btn-getInTouch {
	display: none;
}
/* whatsapp widget */
.whatsapp-live-widget {
	z-index: 99 !important; /* make sure is doesn't cover the search widget */
	margin-bottom: 2.5rem; /* lift up */
	/*move to the other side */
	left: 20px;
	right: unset !important;
}

/* additional lifting of whatsapp widget */
@media only screen and (max-width: 837px) {
    body.archive .whatsapp-live-widget {
	    margin-bottom: 3.6rem !important;
    }
}
@media only screen and (max-width: 768px) {
    body.archive .whatsapp-live-widget {
	    margin-bottom: 7.6rem !important;
    }
}
@media only screen and (max-width: 617px) {
    body.archive .whatsapp-live-widget {
	    margin-bottom: 9.1rem !important;
    }
}
@media only screen and (max-width: 345px) {
    body.archive .whatsapp-live-widget {
	    margin-bottom: 10.7rem !important;
    }
}

/* hide message at the end of products list */
.no-more-products {
    display: none;
}







/* TEMPORARY HIDDEN (related to manually set categories menu) */
/* .site-sidebar ul {
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
}
/* add design to sub-menus /
.site-sidebar li ul {
	padding-right: 2rem;
	padding-bottom: 8px;
}
.site-sidebar .toggle { /* expand button /
	margin-right: 10px;
	border: unset;
	background: transparent;
	color: var(--color-text-lighter); /* same as text /
}
.site-sidebar a:hover {
	color: var(--color-primary); /* associate with Theme color palette /
} */
/* END OF TEMPORARY HIDDEN */